@{
    ViewBag.Title = "Confirm Email";
}

<h2 style="background-color: #e57c58; color: white; display: table; width: calc(100%); height: 50px; border-bottom: 3px solid #eee; padding-left: 20px;">@ViewBag.Title.</h2>
<div style="background-color: #e57c58; width: calc(100%); height: 5px;"></div>
<div>
    <p>
        You have been successfully registered. Once your account is activated you will receive an approval email then you can log in @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
