@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";

    ViewBag.CurrentPage = "About";
}


<h2 style="background-color: #e57c58; color: white; display: table; width: calc(100%); height: 50px; border-bottom: 3px solid #eee; padding-left: 200px;">Are you a Busy Child Friendly Medical Professional in a Baby Clinic?</h2>
<div style="background-color: #e57c58; width: calc(100%); height: 5px;"></div>
<br/>
<h2>Are you frustrated with:</h2>

<ul>
    <li>Manual Invoices, Manual Patient Files, Retaining Patients</li>
    <li>Are you being limited by not being mobile?</li>
</ul>
<br/>
<h2>Then Vaccination Manager is here for you!</h2>

<p>We have recently created an application called Vaccination Manager that will automate a Baby | Family Clinics Invoices and Patient Files and help them Retain Patients by offering them an SMS & email reminder for their child's next vaccine due date together with a Printable Summary Report. This is a fully Mobile Cloud Based System with future Stock Management feature.</p>

<p><b>"I am Sister Louise and I am using Vaccination Manager at my Bumps and Bundles of Joy Baby Clinic and for as little as R 349 per month Vaccination Manager will take care of the daily operations of running your clinic, so you can focus on what matters most – your patients"</b></p>
<br/>

<br/>
<h3 style="color: #e57c58;"><b>So what are you waiting for – call us now on 011- 029 8417 | 083 462 44 71 or send an email to <a href="mailto:info@hileya.co.za">info@hileya.co.za</a>  for a one month no obligation free trail.</b></h3>
