@{
    ViewBag.Title = "About";

    ViewBag.CurrentPage = "About";
}

<h2 style="background-color: #e57c58; color: white; display: table; width: calc(100%); height: 50px; border-bottom: 3px solid #eee; padding-left: 20px;">About Vaccination Manager</h2>
<div style="background-color: #e57c58; width: calc(100%); height: 5px;"></div>
<br/>
<p>Are you running a baby&#47;vaccination clinic and have PATIENTS that have forgotten their LITTLE ONES’ vaccination due dates or have lost their LITTLE ONES’ vaccination card?</p>

<p>Then the Vaccination Manager is for you and this is bound to attract more PATIENTS to your clinic.</p>

<p>Vaccination Manager is a web-based application that enables a Baby&#45;Family clinic to track and manage vaccinations administered to a child.</p>
<br/>
<b>
    <p>Application Key Features: </p>
</b>


<ul>
    <li>SMS reminder to parents for upcoming vaccinations</li>
    <li>Printable Vaccination Report</li>
    <li>Ability to track child growth</li>
    <li>Print Patient Invoice</li>
    <li>Managing a centrally Patients Database</li>
</ul>

<br/>
<p>Vaccination Manager can be integrated into any Clinic environment.</p>
<p>Take advantage of our one month no obligation FREE TRIAL. Drop us an email by <a href="mailto:info@hileya.co.za">clicking here.</a></p>