@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    .dashboard {
        /*background-image: url('../../Images/Dashboard3.jpg');*/
        width: 100%;
        /*height: 100%;*/
        /*background-repeat: no-repeat;*/
        padding: 20px 30px;
        display: block;
        
        
    }

    .shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}
</style>

<div class="row dashboard">


    <img class="dashboard shadow" src="~/Images/Dashboard5.jpg"/>
    <br/><br />
        <p align="center" style="color: #e57c58;">
            The purpose of the Vaccination Manager is to manage and track the child's vaccinations as he/she grows.
        </p>
        
    
</div>