@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   
</div>
<div class="row">
    <div class="col-md-4">o
        
        <p>
            The purpose of the Vaccination Manager is to manage and track the child's vaccinations as he/she grows.
        </p>
    </div>
</div>