@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vaccination Manager</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Vaccination Manager</h2>
        <p>
            The purpose of the Vaccination Manager is to manage and track the child's vaccinations as he/she grows.
        </p>
    </div>
</div>